Repository careerfairsystems/nexpo: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

coverage:
  status:
    project:
      default: off
      backend:
        flags: backend
      frontend:
        target: 50%
        flags: frontend

flags:
  # filter the folder(s) you wish to measure by that flag
  backend:
    # only include files in the backend folder
    paths:
      - web/
  frontend:
    paths:
      - priv/react_app/

comment:
  layout: "header, diff"
  behavior: default # post once then update, posts new if delete

Removed cache manifest from phoenix conf and removed database creation from heroku review apps
  app.json
  config/prod.exs
Due: none

Automatically seed db heroku
  app.json
  codecov.yml
Due: none

Trying to fix heroku email problem in staging and new codecov conf
  app.json
  codecov.yml
  config/dev.exs
  config/prod.exs
  config/test.exs
  web/models/user.ex
  web/views/email_view.ex
Due: backend

Added new config file. .gitignore ignores everything in config
  config/staging.exs
Due: none

Fixing heroku email issue and settled on codecov config
  app.json
  codecov.yml
  config/prod.exs
  config/staging.exs
Due: none

Testing bug with loading staging env
  config/prod.exs
Due: none

Hopefully fixed problem with loading prod conf on heroku
  app.json
  config/prod.exs
Due: none

Removed accidental commit from wrong branch
  priv/react_app/src/Screens/CompanyEntries/index.js
Due: frontend

Fixed makefile and added backend config files
  Makefile
  config/dev.exs
  config/test.exs
Due: none

Configed Heroku review apps with seeds and correct email url
  app.json
  config/dev.exs
  config/prod.exs
  config/staging.exs
  config/test.exs
  test/views/email_view_test.exs
  web/models/user.ex
  web/views/email_view.ex
Due: backend

Added config file for codecov
  .codecov.yml
Due: none

Updated the readme to match the latest Makefile
  README.md
Due: none

Renamed codecov config file
  codecov.yml
Due: none

Fixed type in Makefile
  Makefile
Due: none

Wrote some tests for api consumer
  priv/react_app/src/API/index.js
  priv/react_app/src/API/session.js
  priv/react_app/src/API/session.test.js
  priv/react_app/src/Errors/ApiError.js
  priv/react_app/src/Errors/UnreachableCodeReachedError.js
  priv/react_app/src/Screens/Login/ProductionLogin/ProductionLogin.test.js
  priv/react_app/src/TestHelper/MockEnvironment.js
  priv/react_app/src/TestHelper/index.js
Due: frontend

Abstracted some methods
  Makefile
Due: none

Possible for users to change email
  priv/react_app/src/API/session.js
  priv/react_app/src/API/session.test.js
  priv/react_app/src/App/App.js
  priv/react_app/src/Components/ErrorMessage/ErrorMessage.js
  priv/react_app/src/Components/ForgotPasswordEnterEmail/ForgotPasswordEnterEmail.js
  priv/react_app/src/Components/ForgotPasswordEnterEmail/ForgotPasswordEnterEmail.scss
  priv/react_app/src/Components/ForgotPasswordEnterEmail/ForgotPasswordEnterEmail.test.js
  priv/react_app/src/Components/ForgotPasswordEnterEmail/index.js
  priv/react_app/src/Components/Message/Message.js
  priv/react_app/src/Components/ReplaceForgottenPassword/ReplaceForgottenPassword.js
  priv/react_app/src/Components/ReplaceForgottenPassword/ReplaceForgottenPassword.scss
  priv/react_app/src/Components/ReplaceForgottenPassword/ReplaceForgottenPassword.test.js
  priv/react_app/src/Components/ReplaceForgottenPassword/index.js
  priv/react_app/src/Screens/ForgotPassword/ForgotPassword.js
  priv/react_app/src/Screens/ForgotPassword/ForgotPassword.scss
  priv/react_app/src/Screens/ForgotPassword/ForgotPassword.test.js
  priv/react_app/src/Screens/ForgotPassword/index.js
  priv/react_app/src/Store/ActionTypes.js
  priv/react_app/src/Store/actions/Accounts/AccountsActions.js
  priv/react_app/src/Store/actions/Accounts/AccountsActions.test.js
  priv/react_app/src/Store/actions/Accounts/index.js
  priv/react_app/src/Store/actions/index.js
  priv/react_app/src/Store/index.js
  priv/react_app/src/Store/reducers/Auth/Auth.js
  priv/react_app/src/Store/reducers/Auth/Auth.test.js
  priv/react_app/src/Store/reducers/Auth/index.js
  priv/react_app/src/Store/reducers/CurrentReducer/CurrentReducer.js
  priv/react_app/src/Store/reducers/CurrentReducer/index.js
  priv/react_app/src/Store/reducers/Entities/EntitiesReducer.js
  priv/react_app/src/Store/reducers/Entities/index.js
  priv/react_app/src/Store/reducers/Fetching/FetchingReducer.js
  priv/react_app/src/Store/reducers/Fetching/index.js
  priv/react_app/src/Store/reducers/index.js
  priv/react_app/src/TestHelper/MockHttpResponse.js
  priv/react_app/src/TestHelper/MockStore.js
  test/views/email_view_test.exs
  web/views/email_view.ex
Due: backend, frontend

Backend now returning errors when setting new password
  test/acceptance/users_acceptance_test.exs
  web/controllers/user_controller.ex
Due: backend

fix(codecov): enabling project and patch quality gate limits.
  codecov.yml
Due: none

Now showing errors when user is replacing its password
  priv/react_app/src/API/index.js
  priv/react_app/src/API/session.test.js
  priv/react_app/src/Components/ReplaceForgottenPassword/ReplaceForgottenPassword.js
  priv/react_app/src/Components/ReplaceForgottenPassword/index.js
  priv/react_app/src/Errors/ApiError.js
  priv/react_app/src/Store/actions/Accounts/AccountsActions.js
  priv/react_app/src/Store/actions/Accounts/AccountsActions.test.js
  priv/react_app/src/Store/actions/Companies/CompaniesActions.js
  priv/react_app/src/Store/reducers/ApiReducer/ApiReducer.js
  priv/react_app/src/Store/reducers/ApiReducer/ApiReducer.test.js
  priv/react_app/src/Store/reducers/Auth/Auth.js
  priv/react_app/src/Store/reducers/Auth/Auth.test.js
  priv/react_app/src/Store/reducers/CurrentReducer/CurrentReducer.js
  priv/react_app/src/Store/reducers/CurrentReducer/CurrentReducer.test.js
  priv/react_app/src/Store/reducers/Entities/EntitiesReducer.js
  priv/react_app/src/Store/reducers/Entities/EntitiesReducer.test.js
  priv/react_app/src/Store/reducers/Fetching/FetchingReducer.js
  priv/react_app/src/Store/reducers/Fetching/FetchingReducer.test.js
  priv/react_app/src/Store/reducers/Fetching/index.js
  priv/react_app/src/Store/reducers/Reducer.test.js
  priv/react_app/src/Store/reducers/index.js
  web/controllers/user_controller.ex
Due: backend, frontend

Added support for Javascript Flow
  .flowconfig
Due: none

Showing success message on replace password success
  priv/react_app/src/Components/ReplaceForgottenPassword/ReplaceForgottenPassword.js
  priv/react_app/src/Components/ReplaceForgottenPassword/ReplaceForgottenPassword.test.js
  priv/react_app/src/Components/ReplaceForgottenPassword/index.js
  priv/react_app/src/Components/SuccessMessage/SuccessMessage.js
  priv/react_app/src/Components/SuccessMessage/SuccessMessage.test.js
  priv/react_app/src/Components/SuccessMessage/index.js
  priv/react_app/src/Screens/Companies/index.js
  priv/react_app/src/Screens/NotFound/NotFound.js
  priv/react_app/src/Screens/NotFound/NotFound.test.js
  priv/react_app/src/Screens/NotFound/index.js
  priv/react_app/src/Store/reducers/ApiReducer/ApiReducer.js
  priv/react_app/src/Store/reducers/ApiReducer/ApiReducer.test.js
Due: frontend

Showing success message when user enters its email in forgot-password
  priv/react_app/src/Components/ForgotPasswordEnterEmail/ForgotPasswordEnterEmail.js
  priv/react_app/src/Components/ForgotPasswordEnterEmail/index.js
  priv/react_app/src/Store/reducers/ApiReducer/ApiReducer.js
  priv/react_app/src/Store/reducers/ApiReducer/ApiReducer.test.js
Due: frontend

Removed unneccesary text from email
  web/templates/layout/email.html.eex
Due: backend

Now linking to and from forgot password with signup & login
  priv/react_app/src/Components/ForgotPasswordEnterEmail/ForgotPasswordEnterEmail.js
  priv/react_app/src/Screens/Login/ProductionLogin/ProductionLogin.js
  priv/react_app/src/Screens/Login/ProductionLogin/ProductionLogin.scss
Due: frontend

forgot-password session now only valid one hour
  priv/repo/migrations/20171126145212_add_time_to_forgot_password_key.exs
  test/acceptance/users_acceptance_test.exs
  test/models/user_test.exs
  web/controllers/user_controller.ex
  web/models/user.ex
Due: backend

Serving static files gziped
  config/prod.exs
  lib/nexpo/endpoint.ex
  phoenix_static_buildpack.compile
Due: none

Added one hour time limit in reset-password email
  web/templates/email/reset_password.html.eex
Due: backend

Enabled enter keypress
  priv/react_app/src/Components/ForgotPasswordEnterEmail/ForgotPasswordEnterEmail.js
  priv/react_app/src/Components/ReplaceForgottenPassword/ReplaceForgottenPassword.js
  priv/react_app/src/Screens/Signup/FinalizeSignup/FinalizeSignup.js
Due: frontend

Fixed lint error, which broke build on CI server
  priv/react_app/.eslintrc
  priv/react_app/src/Screens/Signup/FinalizeSignup/FinalizeSignup.js
Due: frontend

Updated to correct rule for fresh install on linux
  README.md
Due: none

Updated packages
  package-lock.json
Due: none

update-dependencies-and-postgrex
  mix.lock
  package-lock.json
  package.json
  priv/react_app/package-lock.json
  priv/react_app/package.json
Due: frontend

Fixed fresh install rule for linux
  README.md
Due: none

Update flowconfig and .eslintrc
  .flowconfig
  priv/react_app/.eslintrc
  priv/react_app/.flowconfig
  priv/react_app/flow-typed/npm/enzyme_v2.3.x.js
  priv/react_app/flow-typed/npm/eslint-config-airbnb_vx.x.x.js
  priv/react_app/flow-typed/npm/eslint-config-prettier_vx.x.x.js
  priv/react_app/flow-typed/npm/eslint-plugin-flowtype_vx.x.x.js
  priv/react_app/flow-typed/npm/eslint-plugin-import_vx.x.x.js
  priv/react_app/flow-typed/npm/eslint-plugin-jsx-a11y_vx.x.x.js
  priv/react_app/flow-typed/npm/eslint-plugin-react_vx.x.x.js
  priv/react_app/flow-typed/npm/eslint_vx.x.x.js
  priv/react_app/flow-typed/npm/flow-bin_v0.x.x.js
  priv/react_app/flow-typed/npm/flow-typed_vx.x.x.js
  priv/react_app/flow-typed/npm/jest-cli_vx.x.x.js
  priv/react_app/flow-typed/npm/jest_v23.x.x.js
  priv/react_app/flow-typed/npm/material-ui_vx.x.x.js
  priv/react_app/flow-typed/npm/nock_v9.x.x.js
  priv/react_app/flow-typed/npm/node-sass-chokidar_vx.x.x.js
  priv/react_app/flow-typed/npm/normalizr_vx.x.x.js
  priv/react_app/flow-typed/npm/npm-run-all_vx.x.x.js
  priv/react_app/flow-typed/npm/prettier-eslint_vx.x.x.js
  priv/react_app/flow-typed/npm/prop-types_v15.x.x.js
  priv/react_app/flow-typed/npm/ramda_v0.x.x.js
  priv/react_app/flow-typed/npm/react-helmet_v5.x.x.js
  priv/react_app/flow-typed/npm/react-redux_v5.x.x.js
  priv/react_app/flow-typed/npm/react-router-dom_v4.x.x.js
  priv/react_app/flow-typed/npm/react-scripts_vx.x.x.js
  priv/react_app/flow-typed/npm/react-tap-event-plugin_vx.x.x.js
  priv/react_app/flow-typed/npm/react-test-renderer_vx.x.x.js
  priv/react_app/flow-typed/npm/redux-logger_vx.x.x.js
  priv/react_app/flow-typed/npm/redux-mock-store_v1.2.x.js
  priv/react_app/flow-typed/npm/redux-thunk_vx.x.x.js
  priv/react_app/flow-typed/npm/redux_v3.x.x.js
  priv/react_app/package-lock.json
  priv/react_app/package.json
Due: frontend

Remove flow-typed from repo
  priv/react_app/flow-typed/npm/enzyme_v2.3.x.js
  priv/react_app/flow-typed/npm/eslint-config-airbnb_vx.x.x.js
  priv/react_app/flow-typed/npm/eslint-config-prettier_vx.x.x.js
  priv/react_app/flow-typed/npm/eslint-plugin-flowtype_vx.x.x.js
  priv/react_app/flow-typed/npm/eslint-plugin-import_vx.x.x.js
  priv/react_app/flow-typed/npm/eslint-plugin-jsx-a11y_vx.x.x.js
  priv/react_app/flow-typed/npm/eslint-plugin-react_vx.x.x.js
  priv/react_app/flow-typed/npm/eslint_vx.x.x.js
  priv/react_app/flow-typed/npm/flow-bin_v0.x.x.js
  priv/react_app/flow-typed/npm/flow-typed_vx.x.x.js
  priv/react_app/flow-typed/npm/jest-cli_vx.x.x.js
  priv/react_app/flow-typed/npm/jest_v23.x.x.js
  priv/react_app/flow-typed/npm/material-ui_vx.x.x.js
  priv/react_app/flow-typed/npm/nock_v9.x.x.js
  priv/react_app/flow-typed/npm/node-sass-chokidar_vx.x.x.js
  priv/react_app/flow-typed/npm/normalizr_vx.x.x.js
  priv/react_app/flow-typed/npm/npm-run-all_vx.x.x.js
  priv/react_app/flow-typed/npm/prettier-eslint_vx.x.x.js
  priv/react_app/flow-typed/npm/prop-types_v15.x.x.js
  priv/react_app/flow-typed/npm/ramda_v0.x.x.js
  priv/react_app/flow-typed/npm/react-helmet_v5.x.x.js
  priv/react_app/flow-typed/npm/react-redux_v5.x.x.js
  priv/react_app/flow-typed/npm/react-router-dom_v4.x.x.js
  priv/react_app/flow-typed/npm/react-scripts_vx.x.x.js
  priv/react_app/flow-typed/npm/react-tap-event-plugin_vx.x.x.js
  priv/react_app/flow-typed/npm/react-test-renderer_vx.x.x.js
  priv/react_app/flow-typed/npm/redux-logger_vx.x.x.js
  priv/react_app/flow-typed/npm/redux-mock-store_v1.2.x.js
  priv/react_app/flow-typed/npm/redux-thunk_vx.x.x.js
  priv/react_app/flow-typed/npm/redux_v3.x.x.js
Due: frontend

Add flow-typed to gitignore
  priv/react_app/.gitignore
Due: frontend

Create readme for eslint and flow
  priv/react_app/CREATE_REACT_APP_README.md
  priv/react_app/README.md
  priv/react_app/package.json
Due: frontend

Update dependecy versions
  priv/react_app/package-lock.json
  priv/react_app/package.json
  priv/react_app/src/Screens/Companies/Companies.js
Due: frontend
